body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

.favSlider{
    background-color: #E31981;
    border-radius: 6px;
    padding-bottom: 1rem;
}

.icon{
    width: 2rem;
}

.eachArticle{
    border: 1px solid black;
    border-radius: 6px;
    background-color: #FA282B;
    margin: 1rem;
    height: 6rem;
    position: relative;
    overflow: hidden;
}

.articleHeader{
    text-decoration: none;
    margin-left: 0.5rem;
    color: black;
    margin-top: 0.2rem;
}

.articleImg{
    height: 100%;
    top: 0;
    float: left;
    margin-right: 0.5rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: beige;
    background-color: black 0.4; 
}

.modal-content {
    background-color: #fefe;
    margin: 15% auto;
    padding: 3rem;
    border: 1px solid black;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}